.dlrStationTitlePosition {
    position: fixed;
    top: 220px;
    right: 720px;
    width: 550px;
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
}

.dlrStationTimePosition {
    position: fixed;
    top: 250px;
    right: 720px;
    width: 550px;
    font-family: Verdana;
    font-size: 16px;
}

.northernLineStationTitlePosition {
    position: fixed;
    top: 340px;
    right: 720px;
    width: 550px;
    color: white; 
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
}

.northernLineStationTimePosition1 {
    position: fixed;
    top: 370px;
    right: 720px;
    width: 550px;
    color: white; 
    font-family: Verdana;
    font-size: 16px;
}

.dlrBox{
    position: fixed;
    background: #0BA096;   
    top: 200px;
    right: 600px;
    width:700px;
    height:160px;
    border:1px solid black;
    z-index: -1;
}

.northernLineBox{
    position: fixed;
    background: black;
    top: 320px;
    right: 600px;
    width: 700px;
    height: 117px;
    border:1px solid black;
    z-index: -1;
}

.dlrStatusBox{
    position: fixed;
    background: #0BA096;   
    top: 210px;
    right: 1305px;
    width:350px;
    height:100px;
    border:1px solid black;
    z-index: -1;
}

.dlrStatusTitlePosition {
    position: fixed;
    top: 210px;
    right: 1200px;
    width: 350px;
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
}