.dlrStationTitlePosition {
    position: fixed;
    top: 220px;
    right: 720px;
    width: 550px;
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
}

.dlrStationTimePosition {
    position: fixed;
    top: 250px;
    right: 720px;
    width: 550px;
    font-family: Verdana;
    font-size: 16px;
}

.northernLineStationTitlePosition {
    position: fixed;
    top: 350px;
    right: 720px;
    width: 550px;
    color: white; 
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
}

.northernLineStationTimePosition1 {
    position: fixed;
    top: 380px;
    right: 720px;
    width: 550px;
    color: white; 
    font-family: Verdana;
    font-size: 16px;
}

.dlrBox{
    position: fixed;
    background:#0BA096;
    top: 200px;
    right: 600px;
    width:700px;
    height:260px;
    border:1px solid black;
    z-index: -1;
}

.northernLineBox{
    position: fixed;
    background: black;
    top: 330px;
    right: 600px;
    width: 700px;
    height: 140px;
    border:1px solid black;
    z-index: -1;
}
